alembic==1.7.6
azure-common==1.1.28
azure-nspkg==3.0.2
azure-storage-blob==12.9.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
Click==8.0.4
cryptography==36.0.1
Flask==2.0.3
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
Mako==1.2.0
MarkupSafe==2.1.0
msal==1.17.0
pycparser==2.21
pyodbc==4.0.32
pyopenssl==22.0.0
python-dateutil==2.8.2
python-editor==1.0.4
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.32
urllib3==1.26.8
Werkzeug==2.0.3
WTForms==3.0.1
